body{
    width: 100%;
    height: 100vh;
    margin: 0px;
}
header{
    background-color: #26E580;
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-right: 2vw;
    height: 10vh
}
header h1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 100%;
    margin: 0px;
    font-size: 5vh;
}
.conta{
    width: 30vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}
.conta a, button{
    font-size: 2.5vh;
    height: 100%;
    background-color: #26E580;
    border: none;
    padding-left: 1vw;
    padding-right: 1vw;
}
.conta a button:hover{
    background-color: #ffffff;
    color: #26E580;
    transition: ease-in 0.3s;
}
main{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 85vh;
}
main nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15vw;
    background-color: #4D916F;
}
nav img{
    border-radius: 50vh;
    width: 10vw;
}
nav article{
    margin-bottom: 10%;

    input{
        background-color: #26E580;
        color: white;
        font-size: 2vh;
        font-weight: bold;
        width: 10vw;
        max-width: 10vw;
    }
}
nav div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.delete{
    background-color: red;
    color: white;
    width: 10vw;
    height: 5vh;
    border-radius: 2vh;
}
.delete:hover{
    background-color: #6c0000;
    color: red;
    width: 10vw;
    height: 5vh;
    border-radius: 2vh;
    transition: ease-in 0.3s;
}
.sair{
    background-color: 26E580;
    color: white;
    width: 10vw;
    height: 5vh;
    border-radius: 2vh;
    margin-bottom: 10%;
    font-weight: bold;
}
.sair:hover{
    background-color: #00ffb3;
    color: white;
    width: 10vw;
    height: 5vh;
    border-radius: 2vh;
    transition: ease-in 0.3s;
}

footer{
    height: 5vh;
    background-color: #26E580;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding-right: 1.5vw;
    p{
        font-size: 2.25vh;
    }
}
.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100vh; 
    overflow: auto; 
    background-color: rgba(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    max-width: 20vw; 
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}