@font-face {
    font-family: 'BPdotsBold';
    src: url(fonts/bpdots.unicasesquare-bold.otf);
}

@font-face {
    font-family: 'KarmaticArcade';
    src: url(fonts/ka1.ttf);
}

* {
    margin: 0;
    padding: 0;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: 'BPdotsBold';
}

body {
    background-color: #672596;
}

header {
    background-color: #272727;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    color: #ffffff;

    /* .logo{
        width: auto;
        height: 70px;
    } */

    .headerBtns {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown button {
        background: none;
        color: white;
        /* Cor do texto */
        padding: 10px 20px;
        /* Espaçamento interno */
        font-size: 16px;
        /* Tamanho da fonte */
        border: none;
        border-bottom: 2px solid #272727;
        /* Remove bordas padrão */
        cursor: pointer;
        /* Muda o cursor ao passar por cima */
    }

    .dropdown button:hover {
        border-bottom: 2px solid #ffffff;
        box-sizing: border-box;
        /* background-color: #45a049; */
    }

    .dropdown button:focus {
        border-bottom: 2px solid #ffffff;
        box-sizing: border-box;
        /* background-color: #45a049; */
    }

    /* Estilo do menu dropdown */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        /* Cor de fundo do menu */
        min-width: 160px;
        /* Largura mínima do menu */
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        /* Sombra do menu */
        z-index: 1;
        /* Para garantir que o menu fique acima de outros elementos */
    }

    .dropdown-content a {
        color: black;
        /* Cor do texto dos itens do menu */
        padding: 12px 16px;
        /* Espaçamento interno dos itens do menu */
        text-decoration: none;
        /* Remove o sublinhado dos links */
        display: block;
        /* Faz os itens do menu ocuparem a linha inteira */
    }

    .dropdown-content a:hover {
        background-color: #f1f1f1;
        /* Cor de fundo ao passar o mouse sobre os itens do menu */
    }

    #playBtn {
        background-color: transparent;
        width: 50px;
        height: 50px;
        background-image: url("../img/playBtn.png");
        background-size: cover;
        border: none;
    }

    .profile-link {
        width: 5vw;
        height: 5vw;
        background-image: url("../img/profile-icon.png");
        background-size: cover;
    }

}

h1, h2, button {
    font-family: 'BPdotsBold';
    color: #26E580;
}

main {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
}

.sobre:link,
.sobre:visited {
    text-decoration: none;
    color: #000000;
}

.card {
    background-color: #272727;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    width: 300px;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
    max-width: 100%;
    height: 170px;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.card h2 {
    color: #26E580;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.card p {
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
    font-family: sans-serif, Helvetica, Arial;
}

.card-content {
    margin-top: 3rem;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    background-color: #272727;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-content h3 {
    color: #26E580;
    font-size: 1.5rem;
    margin-top: 0;
}

.card-content p {
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1.5rem;
    font-family: sans-serif, Helvetica, Arial;
}

footer {
    height: 200px;
    background-color: #272727;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    color: #ffffff;
    padding-top: 30px;

    .contatos {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        width: 500px;
        height: 150px;


        .contato-left {
            display: flex;
            flex-direction: column;

            >h2 {
                color: #26E580;
            }

            >ul {
                list-style-type: none;
            }
        }

        .contato-right {
            display: flex;
            flex-direction: column;

            >ul {
                list-style-type: none;
            }
        }
    }

    .footer-parte {

        >h2 {
            color: #26E580;
        }

        .links-uteis {
            text-decoration: none;
            list-style-type: none;

            >ul {
                list-style-type: none;
            }

            .about:link,
            .about:visited {
                color: #ffffff;
                text-decoration: none;

            }

            .about:hover {
                border-bottom: 1px solid #ffffff;
            }
        }
    }

    p {
        font-size: 2.25vh;
    }
}