@font-face {
    font-family: 'BPdotsBold';
    src: url(fonts/bpdots.unicasesquare-bold.otf);
}

@font-face {
    font-family: 'KarmaticArcade';
    src: url(fonts/ka1.ttf);
}

* {
    margin: 0;
    padding: 0;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: 'BPdotsBold';
}

body {
    background-color: #672596;
}

header {
    background-color: #272727;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    color: #ffffff;

    /* .logo{
        width: auto;
        height: 70px;
    } */

    .headerBtns {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }
    
    #dropdownButton1 {
        padding: 10px;
        font-size: 16px;
        cursor: pointer;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: transparent;
        min-width: 200px;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }
    
    .dropdown-content a {
        display: block;
        padding: 10px;
        margin: 10px 0; /* Espaçamento entre as opções */
        text-align: center;
        text-decoration: none;
        font-size: 14px;
        background-color: #ffffff;
        color: black;
        transform-origin: left center;
        transition: transform 0.3s ease;
    }
    
    .dropdown-content a:nth-child(odd) {
        transform: rotate(-5deg); /* Inclinações alternadas */
    }
    
    .dropdown-content a:nth-child(even) {
        transform: rotate(5deg);
    }
    
    .dropdown-content a:hover {
        background-color: #ddd;
    }
    
    #dropdownMenu1::before {
         content: '';
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%) rotate(90deg); 
         width: 10px;
        height: 100%; 
        z-index: 0;
        background: url("../img/corda.png");
        /* background-color: red; */
    }
    

    #playBtn {
        background-color: transparent;
        width: 50px;
        height: 50px;
        background-image: url("../img/playBtn.png");
        background-size: cover;
        border: none;
    }

    .profile-link {
        width: 5vw;
        height: 5vw;
        background-image: url("../img/profile-icon.png");
        background-size: cover;
    }

}

h1, h2, button {
    font-family: 'BPdotsBold';
    color: #26E580;
}

main {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
}

.sobre:link,
.sobre:visited {
    text-decoration: none;
    color: #000000;
}

.card {
    background-color: #272727;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    width: 300px;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
    max-width: 100%;
    height: 170px;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.card h2 {
    color: #26E580;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.card p {
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
    font-family: sans-serif, Helvetica, Arial;
}

.card-content {
    margin-top: 3rem;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    background-color: #272727;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-content h3 {
    color: #26E580;
    font-size: 1.5rem;
    margin-top: 0;
}

.card-content p {
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1.5rem;
    font-family: sans-serif, Helvetica, Arial;
}

footer {
    height: 200px;
    background-color: #272727;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    color: #ffffff;
    padding-top: 30px;

    .contatos {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        width: 500px;
        height: 150px;


        .contato-left {
            display: flex;
            flex-direction: column;

            >h2 {
                color: #26E580;
            }

            >ul {
                list-style-type: none;
            }
        }

        .contato-right {
            display: flex;
            flex-direction: column;

            >ul {
                list-style-type: none;
            }
        }
    }

    .footer-parte {

        >h2 {
            color: #26E580;
        }

        .links-uteis {
            text-decoration: none;
            list-style-type: none;

            >ul {
                list-style-type: none;
            }

            .about:link,
            .about:visited {
                color: #ffffff;
                text-decoration: none;

            }

            .about:hover {
                border-bottom: 1px solid #ffffff;
            }
        }
    }

    p {
        font-size: 2.25vh;
    }
}