@font-face {
    font-family: 'BPdotsBold';
    src: url(fonts/bpdots.unicasesquare-bold.otf);
}

@font-face {
    font-family: 'KarmaticArcade';
    src: url(fonts/ka1.ttf);
}

* {
    margin: 0;
    padding: 0;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: sans-serif, Helvetica, Arial;
}

body {
    background-color: #672596;
}

h1,
h2,
button,
input {
    font-family: 'BPdotsBold';
    color: #26E580;
}

a:link,
a:visited {
    text-decoration: none;
}

header {
    background-color: #272727;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    color: #ffffff;

    /* .logo{
        width: auto;
        height: 70px;
    } */

    .headerBtns {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }
    
    .dropdown-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 11vw;
        height: 5vh;
        padding: 10px;
        font-size: 16px;
        cursor: pointer;
        background: transparent;
        border: none;
        background-image: url("../img/frame2.png");
        background-size: 11vw 5vh;
        background-position: center;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        min-width: 200px;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 1;
        transform: translateX(-50%);
        left: 50%;
        text-align: center;
    }
    
    .dropdown-content a {
        display: block;
        padding: 10px;
        margin: 11px 0; /* Espaçamento entre as opções */
        text-align: center;
        text-decoration: none;
        font-size: 14px;
        background-color: #26E580;
        color: #672596;
        border: #000000 solid 3px;
        transform-origin: left center;
        transition: transform 0.3s ease;

    }
    
    .dropdown-content a:nth-child(odd) {
        transform: rotate(-3deg); /* Inclinações alternadas */
    }
    
    .dropdown-content a:nth-child(even) {
        transform: rotate(1deg);
        margin-bottom: 3px;
    }
    
    .dropdown-content a:hover {
        background-color: #672596;
        color: #26E580;
    }
    
    .dropdown-content::before {
         content: '';
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%); 
         width: 3vw;
        height: 100%; 
        z-index: 0;
        background-image: url("../img/corda.png");
        background-size: contain;
    }

    .arrow1Down, .arrow1Up {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-image: url("../img/arrow.png");
        background-size: cover;
        margin-left: 4px;
        margin-top: 3px;
    }
    
    .arrow1Down {
        transform: rotate(90deg);
    }
    
    .arrow1Up {
        transform: rotate(-90deg);
    }


    .arrow2Down, .arrow2Up {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-image: url("../img/arrow.png");
        background-size: cover;
        margin-left: 4px;
        margin-top: 3px;
    }
    
    .arrow2Down {
        transform: rotate(90deg);
    }
    
    .arrow2Up {
        transform: rotate(-90deg);
    }
    
    

    #playBtn {
        background-color: transparent;
        width: 50px;
        height: 50px;
        background-image: url("../img/playBtn.png");
        background-size: cover;
        border: none;
        margin-left: 15px;
        margin-right: 15px;
        cursor: pointer;
    }
    .arrow3Down, .arrow3Up {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-image: url("../img/arrow.png");
        background-size: cover;
        margin-left: 4px;
        margin-top: 3px;
    }
    
    .arrow3Down {
        transform: rotate(90deg);
    }
    
    .arrow3Up {
        transform: rotate(-90deg);
    }

    .dropdown-content form {
        display: block;
        padding: 10px;
        margin: 11px 0; /* Espaçamento entre as opções */
        text-align: center;
        text-decoration: none;
        background-color: #26E580;
        border: #000000 solid 3px;
        transform-origin: left center;
        transition: transform 0.3s ease;
        input{
            width: 100%;
            height: 100%;
            font-size: 14px;
            color: #672596;
            background-color: #26E580;
            border: none;
        }
    }
    
    .dropdown-content form:nth-child(odd) {
        transform: rotate(-3deg); /* Inclinações alternadas */
    }
    
    .dropdown-content form:nth-child(even) {
        transform: rotate(1deg);
        margin-bottom: 3px;
    }
    
    .dropdown-content form:hover {
        background-color: #672596;
        color: #26E580;
        input{
            font-size: 14px;
            color: #26E580;
            background-color: #672596;
            border: none;
        }
    }

    .right-header{
        width: 10vw;
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;

        >h1{
            font-size: 1.7rem;
        }

        .profile-link {
            width: 3vw;
            height: 3vw;
            background-image: url("../img/icon2.png");
            background-size: cover;
        }
    }

}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    >h1 {
        margin-top: 4vh;
        /* margin-bottom: 2vh; */
        font-size: 4rem;
        font-family: KarmaticArcade;
    }

    .equip-container {
        margin-top: 4vh;
        margin-bottom: 8vh;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        /* align-items: center; */

        .avatar {
            width: 30vw;
            height: 70vh;
            border: 3px solid #26E580;
            background-color: #450f6b;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;

            >h1 {
                font-size: 3rem;
            }

            .itemsRow {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                width: 100%;
                margin-top: 5vh;

                .itemSlot {
                    /* position: absolute; */
                    width: 5vw;
                    height: 5vw;
                    border: 3px solid #26E580;
                    box-sizing: border-box;

                    >img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .emptySlot {
                    width: 5vw;
                    height: 5vw;
                    box-sizing: border-box;
                    background-color: #450f6b;
                    border: 3px solid #26E580;
                    /* position: absolute; */
                }
            }

            .emptySlotSkin {
                width: 20vw;
                height: 40vh;
                /* position: absolute; */
                box-sizing: border-box;
                background-color: #450f6b;
                border: 3px solid #26E580;
            }

            .skinSlot {
                width: 20vw;
                height: 40vh;
                /* border: 3px solid #26E580; */
                box-sizing: border-box;

                >img {
                    width: 100%;
                    height: 100%;
                }
            }

            /* #itemCapacete {
                top: 2vw;
                right: -1vw;
            }

            #itemArmadura {
                top: 50%;
                right: -1vw;
            }

            #itemBota{
                bottom: 2vw;
                right: -1vw;
            }

            #itemArma{
                bottom: 30%;
                left: -1vw;
            } */

        }

        .grid-container {
            box-sizing: border-box;
            padding: 1vw;
            width: 45vw;
            height: 70vh;
            display: grid;
            grid-gap: 1vh;
            grid-template-columns: 160px 160px 160px 160px;
            grid-template-rows: 200px 200px 200px 200px;
            justify-content: center;
            border: 3px solid #26E580;
            background-color: #450f6b;
            overflow-y: scroll;
            overflow-x: hidden;
            position: relative;

            >h1 {
                font-size: 2rem;
            }

            .grid-item {
                width: auto;
                height: auto;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                flex-direction: column;
                text-align: center;
                border: 3px solid #26E580;
                background-color: #672596;


                >img {
                    width: 90px;
                    height: 90px;
                    box-sizing: border-box;
                    border: 2px solid #26E580;
                }

                >form>input[type='submit'] {
                    width: 5vw;
                    height: 2.5vh;
                    background-color: #450f6b;
                    color: #26E580;
                    outline: none;
                    border: none;
                    background: url(../img/frame2.png);
                    background-size: contain;
                    background-repeat: no-repeat;
                    transition: ease 0.1s;
                    border-radius: 5px;
                }

                >form>input[type='submit']:hover {
                    background-color: #26E580;
                    color: #672596;
                }
            }
        }
    }

    .userInterface{
        width: 40vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        /* .redBtns{
            display: flex;
            justify-content: space-between;
            width: 27vw;
            align-items: center;

        } */
        .leaveBtn{
            width: 13vw;
            height: 6vh;
            font-size: 2.5vh;
            background-color: #272727;
            border: 3px solid #26E580;
            transition: 0.1s ease;
        }

        .leaveBtn:hover{
            background-color: #f14235;
        }

        .editForm {
            background-color: #272727;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width: 20vw;
            height: 50vh;
            border: 2px #26E580 solid;
            padding-top: 2.5vh;
    
            h1 {
                margin-top: 0px;
                font-size: 35px;
            }
    
    
            .entrada {
                width: 80%;
                height: 35px;
                border: none;
                border-bottom: 2px solid #26E580;
                background: none;
                outline: none;
                transition: 0.2s ease-out;
                font-size: 1.2rem;
                color: #ffffff;
                font-family: sans-serif, Helvetica, Arial;
            }
    
            .entrada:focus {
                border-bottom: 2px solid #672596;
            }
    
            .entra {
                width: 10vw;
                height: 6vh;
                font-size: 2.5vh;
                border: #26E580 solid 2px;
                background-color: #450f6b;
                cursor: pointer;
                transition: 0.1s ease-out;
            }
    
            .entra:hover {
                background-color: #26E580;
                color: #ffffff;
            }
            

            >section {
                display: flex;
                flex-direction: column;
                width: 100%;
                justify-content: center;
                align-items: center;
    
                >label {
                    font-size: 1.3rem;
                    font-family: 'BPdotsBold';
                    color: #26E580;
                }
            }
        }
    }
    
    
    


}
footer {
    height: 200px;
    background-color: #272727;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    color: #ffffff;
    padding-top: 30px;

    .contatos {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        width: 500px;
        height: 150px;


        .contato-left {
            display: flex;
            flex-direction: column;

            >h2 {
                color: #26E580;
            }

            >ul {
                list-style-type: none;
            }
        }

        .contato-right {
            display: flex;
            flex-direction: column;

            >ul {
                list-style-type: none;
            }
        }
    }

    .footer-parte {

        >h2 {
            color: #26E580;
        }

        .links-uteis {
            text-decoration: none;
            list-style-type: none;

            >ul {
                list-style-type: none;
            }

            .about:link,
            .about:visited {
                color: #ffffff;
                text-decoration: none;

            }

            .about:hover {
                border-bottom: 1px solid #ffffff;
            }
        }
    }

    p {
        font-size: 2.25vh;
    }
}