@font-face {
    font-family: 'BPdotsBold';
    src: url(fonts/bpdots.unicasesquare-bold.otf);
}

@font-face {
    font-family: 'KarmaticArcade';
    src: url(fonts/ka1.ttf);
}

* {
    margin: 0;
    padding: 0;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: 'BPdotsBold';
}

body {
    background-color: #672596;
}

header {
    background-color: #272727;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    color: #ffffff;

    /* .logo{
        width: auto;
        height: 70px;
    } */

    .headerBtns {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    

    .right-header{
        width: 10vw;
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;

        >h1{
            font-size: 1.7rem;
        }

        .profile-link {
            width: 3vw;
            height: 3vw;
            background-image: url("../img/icon2.png");
            background-size: cover;
        }
    }

}

a:link,
a:visited {
    text-decoration: none;
}

h1,
h2,
button {
    font-family: 'BPdotsBold';
    color: #26E580;
}

.sobre:link,
.sobre:visited {
    text-decoration: none;
    color: #000000;
}

main {
    width: 100%;
    height: calc(100% + 10vh);
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    >h1 {
        margin-top: 3vh;
        font-family: 'KarmaticArcade';
        font-size: 2rem;
    }

    .midMenu{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 30vh;

        >h1{
            font-size: 2.3rem;
        }
        

            .returnBtn {
                /* transform: translate(2%,2%); */
                position: relative;
                width: 12vw;
                height: 7vh;
                background-color: #272727;
                border: 3px solid #26E580;
                outline: none;
                font-size: 1.2rem;
            }

            .returnBtn:hover {
                color: #672596;
                background-color: #26E580;
                border: 3px solid #272727;
            }
        


    }

    .columnAnswers {
        width: 100%;
        height: 75vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        .answerContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 2vh;
            width: 15vw;
            height: 10vh;
            background-color: #272727;
            border: 3px solid #26E580;
        }
    }
}

footer {
    height: 200px;
    background-color: #272727;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    color: #ffffff;
    padding-top: 30px;
    /* bottom: 0; */

    .contatos {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        width: 500px;
        height: 150px;


        .contato-left {
            display: flex;
            flex-direction: column;

            >h2 {
                color: #26E580;
            }

            >ul {
                list-style-type: none;
            }
        }

        .contato-right {
            display: flex;
            flex-direction: column;

            >ul {
                list-style-type: none;
            }
        }
    }

    .footer-parte {

        >h2 {
            color: #26E580;
        }

        .links-uteis {
            text-decoration: none;
            list-style-type: none;

            >ul {
                list-style-type: none;
            }

            .about:link,
            .about:visited {
                color: #ffffff;
                text-decoration: none;

            }

            .about:hover {
                border-bottom: 1px solid #ffffff;
            }
        }
    }

    p {
        font-size: 2.25vh;
    }
}