<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/TAD.css">
    <title>Introdução - TAD</title>
</head>
<body>
    <header>
        <section><p id="logo">S+ LEARN</p></section>    
    </header>

    <nav>
        <a href="tadIntroducao.html" class="link-header">TAD - Tipo Abstrato de Dados</a>
        <a href="listaSimplesmente.html" class="link-header">Lista Simplesmente Encadeada</a>
        <a href="/view/LDE/ListaDuplamente.html" class="link-header">Lista Duplamente Encadeada</a>
    </nav>

    <section class="container">
        <section class="menu-lateral">
            <h1>Conteúdo</h1>
            <a href="tadIntroducao.html" id="link-conteudo">1. Introdução</a>
            <a href="tadEncapsulamento.html" id="link-conteudo">2. Encapsulamento</a>
            <a href="tadAbstracao.html" id="link-conteudo">3. Abstração</a>
            <a href="tadPilha.html" id="link-conteudo">4. Pilhas</a>
            <a href="tadFilas.html" id="link-conteudo">5. Filas</a>
            <a href="tadFilasPrioridade.html" id="link-conteudo">6. Filas de Prioridade</a>
        </section>

        <section class="information">
            <h1>Tipos Abstratos de Dados (TADs)</h1>
            <p>Os TADs são modelos matemáticos que encapsulam dados e funções para manipulá-los. 
                Eles desempenham um papel fundamental na ciência da computação e são usados para:</p>
            <ul>
                <li><strong>Simplificar a descrição de algoritmos abstratos</strong>: Os TADs permitem que os programadores se concentrem na lógica do algoritmo, isolando os detalhes de implementação.</li>
                <li><strong>Classificar e avaliar estruturas de dados</strong>: Os TADs fornecem uma maneira padronizada de descrever e comparar diferentes estruturas de dados.</li>
                <li><strong>Formalmente descrever sistemas de tipos em linguagens de programação</strong>: Os TADs ajudam a definir tipos de dados personalizados e suas operações.</li>
            </ul>

            <h2>Principais características dos TADs incluem:</p></h2>
            <ul>
                <li><strong>Encapsulação</strong>: Um TAD esconde um modelo de dados e oferece uma interface para manipulá-lo.</li>
                <li><strong>Implementação variada</strong>: Embora sejam entidades teóricas, os TADs podem ser implementados por tipos específicos de dados ou estruturas em várias linguagens de programação.</li>
                <li><strong>Estratégia de "information hiding"</strong>: A implementação dos módulos TAD pode ser alterada sem afetar os programas clientes.</li>
            </ul>

        </section>
    </section>

    <footer>

    </footer>
</body>
</html>