<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/TAD.css">
    <title>Conclusão sobre a Lista Duplamente Encadeada</title>
</head>

<body>
    <header>
        <section>
            <p id="logo">S+ LEARN</p>
        </section>
    </header>

    <nav>
        <a href="tadIntroducao.html" class="link-header">TAD - Tipo Abstrato de Dados</a>
        <a href="listaSimplesmente.html" class="link-header">Lista Simplesmente Encadeada</a>
        <a href="/view/LDE/ListaDuplamente.html" class="link-header">Lista Duplamente Encadeada</a>
    </nav>

    <section class="container">
        <section class="menu-lateral">
            <h1>Conteúdo</h1>
            <a href="ListaDuplamente.html" id="link-conteudo">1. Introdução</a>
            <a href="LDEFunc.html" id="link-conteudo">2. Funcionamento</a>
            <a href="LDEFinal.html" id="link-conteudo">3. Conclusão</a>
        </section>

        <section class="information">
            <h1>Conclusão sobre a Lista Duplamente Encadeada</h1>
            <p>Chegamos ao fim sobre a Lista Duplamente Encadeada. Nesta aula, vamos revisar os conceitos aprendidos e discutir algumas aplicações práticas dessa estrutura de dados.</p>

            <h2>Aplicações Práticas</h2>
            <p>A lista duplamente encadeada é amplamente utilizada em diversas áreas da computação, incluindo bancos de dados, editores de texto e compiladores. Sua capacidade de inserção, remoção e navegação eficientes a tornam uma escolha popular para muitos cenários.</p>

            <h2>Considerações Finais</h2>
            <p>Entender a Lista Duplamente Encadeada é um passo importante no aprendizado de estruturas de dados, tendo as competências necessárias para aplicar em prática os conceitos básicos introduzidos aqui.</p>
        </section>
    </section>
    <footer>

    </footer>
</body>

</html>