<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/TAD.css">
    <title>Conclusão sobre a Lista Duplamente Encadeada</title>
</head>

<body>
    <header>
        <a href="../../home.php">
            <img class="logo" src="../../img/logo.png" alt="Logotipo">
        </a>
    </header>

    <nav>
        <a href="../TAD/tadIntroducao.html" class="link-header">TAD - Tipo Abstrato de Dados</a>
        <a href="listaSimplesmente.html" class="link-header">Lista Simplesmente Encadeada</a>
        <a href="ListaDuplamente.html" class="link-header">Lista Duplamente Encadeada</a>
    </nav>

    <section class="container">
        <section class="menu-lateral">
            <h1>Conteúdo</h1>
            <a href="ListaDuplamente.html" id="link-conteudo">1. Introdução</a>
            <a href="LDEFunc.html" id="link-conteudo">2. Funcionamento</a>
            <a href="LDEFinal.html" id="link-conteudo">3. Conclusão</a>
        </section>

        <section class="information">
            <h1>Conclusão sobre a Lista Duplamente Encadeada</h1>
            <p>Chegamos ao fim sobre a Lista Duplamente Encadeada. Nesta aula, vamos revisar os conceitos aprendidos e discutir algumas aplicações práticas dessa estrutura de dados.</p>

            <h2>Aplicações Práticas</h2>
            <p>A lista duplamente encadeada é amplamente utilizada em diversas áreas da computação, incluindo bancos de dados, editores de texto e compiladores. Sua capacidade de inserção, remoção e navegação eficientes a tornam uma escolha popular para muitos cenários.</p>

            <h2>Considerações Finais</h2>
            <p>Entender a Lista Duplamente Encadeada é um passo importante no aprendizado de estruturas de dados, tendo as competências necessárias para aplicar em prática os conceitos básicos introduzidos aqui.</p>
        </section>
    </section>
    <footer>
        <section class="contatos">
            <section class="contato-left">
                <h2>Contato:</h2>
                <ul>
                    <li>Nome: Pedro Muraro</li>
                    <li>Email: pedro@slearn.com</li>
                    <li>Telefone: (18)83959-1928</li>
                </ul>
                <br>
                <ul>
                    <li>Nome: João Vitor</li>
                    <li>Email: vitor@slearn.com</li>
                    <li>Telefone: (18)72858-1678</li>
                </ul>
            </section>

            <section class="contato-right">
                <ul>
                    <li>Nome: Carlos Rubira</li>
                    <li>Email: carlos@slearn.com</li>
                    <li>Telefone: (18)96069-1829</li>
                </ul>
                <br>
                <ul>
                    <li>Nome: João Vieira</li>
                    <li>Email: joao@slearn.com</li>
                    <li>Telefone: (18)82718-8294</li>
                </ul>
            </section>
        </section>
        
        <section class="footer-parte">
            <h2>Links Úteis:</h2>
            <ul class="links-uteis">
                <li><a class="about" href="#sobre">Sobre</a></li>
                <li><a class="about" href="#suporte">Suporte</a></li>
            </ul>
        </section>

        <p>Todos os direitos reservados ©</p>
    </footer>
</body>

</html>