<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Tipo Abstrato de Dados</title>
</head>
<body>
    <header>
        <section><p id="logo">S+ LEARN</p></section>    
    </header>

    <nav>
        <a href="tad.html" class="link-header">TAD - Tipo Abstrato de Dados</a>
        <a href="listaSimplesmente.html" class="link-header">Lista Simplesmente Encadeada</a>
        <a href="listaDuplamente.html" class="link-header">Lista Duplamente Encadeada</a>
    </nav>

    

    <footer>

    </footer>
</body>
</html>